# Directory #
**/__pycache__ # scritto cosi significa che non considero nesunna delle cartelle pycache. IN particoalre dataset/__pycache__ e model/__pycache__
data/BabyPose
data/annotations
data/pyOniExtractor
logs/*.npy
masks/*.tfrecord
masks/logs_cancellazione/*.npy
weights/*.hdf5 


# estensioni #
*.rar
*.png
*.bat