# Directory #
data/pyOniExtractor
Training/*
data/**/*.txt
results_ssim/
logs/*.npy
output_monobranch


# estensioni #
*.rar
*.png
*.bat
*.hdf5
*.tfrecord
*.csv
*.pyc
*.pkl
*.bak

!web_page/**/*.png
!data/Syntetich_complete/annotations/*.csv
!data/Syntetich_complete/annotations/*.png
!data/Syntetich_complete/tfrecord/**/*.pkl
!data/Syntetich_complete/*.md
!data/Syntetich_complete/*.txt
!data/Syntetich_complete/*.png
!resources