# Directory #
**/__pycache__ # scritto cosi significa che non considero nesunna delle cartelle pycache. IN particoalre dataset/__pycache__ e model/__pycache__
data/BabyPose
data/annotations
data/pyOniExtractor
logs/*.npy
Market_transfer/


# estensioni #
*.rar
*.png
*.bat
*.hdf5
*.tfrecord
*.pkl
*.csv